<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="connString" connectionString="fo/s7UDDccSkxQLII6HsHQZ0LHU/7pbMdzT7xzOQgxdAwltCkbKQ2XPkVrynMGb9kb2C6WZ8hGq50+ffBJhyyg=="/>
  </connectionStrings>
</configuration>
